@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.header-logo {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px 0;
}

.header-logo img {
  width: 45%;
  height: 50%;
}

.header-logo a {
  position: absolute;
  left: 25px;
  top: 20px;
  font-size: 1.3em;
}

.header-logo a:hover {
  font-size: 1.5em;
}

.header-logo a:active {
  color: black;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 270px;
  z-index: 1;
}

main {
  margin-top: 15px;
}

.menu__container {
  position: relative;
  top: -42px;
  z-index: 2;
  margin-top: -30px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  width: 100%;
  margin-bottom: -42px;
}

.menu__container h1 {
  font-family: "Shrikhand";
  font-size: 1.7em;
  padding: 30px 0 0px 20px;
  font-weight: lighter;
}

.fa-heart {
  font-size: 0.8em;
  margin-left: 30px;
  font-weight: lighter;
}

h2 {
  font-size: 1em;
  margin: 30px 0 0 15px;
  font-weight: lighter;
}

.underlign {
  border-bottom: #99E2D0 solid 3px;
  width: 40px;
  margin: 7px 0 15px 15px;
}

.plat {
  position: relative;
  border-radius: 10px;
  background: white;
  width: 90%;
  margin: 0 0 10px 10px;
}

.plat h3 {
  margin: 0;
  padding: 15px 0 5px 10px;
  font-weight: normal;
  font-size: 1.1em;
}

.plat p {
  margin: 0;
  padding: 0 0 10px 10px;
  font-weight: lighter;
  font-size: 0.9em;
}

.plat .price {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-weight: bold;
}

.btn--commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--commander a {
  color: white;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  padding: 15px 50px 15px 50px;
  margin: 30px 0 30px;
}

.btn--commander a:hover {
  opacity: 0.85;
}

footer {
  background: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 0 0 10px 20px;
}

footer a:hover {
  font-weight: bold;
}

footer .fa-handshake {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  font-size: 0.8em;
  margin-right: 7px;
}

footer .fa-utensils {
  padding-right: 10px;
  font-size: 0.8em;
}

footer svg {
  width: 110px;
  padding: 20px;
}
/*# sourceMappingURL=menu1.css.map */