$color-prim: #9356DC;
$color-sec:#FF79DA;
$color-ter: #99E2D0;
$color-background: #f6f6f6;
$color-hover-nav: #f5edff;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');



body { 
    font-family: "Roboto", sans-serif; 
    
}

.header-logo {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0 ;

    & img {
        width: 45%;
        height: 50%;
    }
}

.header__localisation {
    box-shadow: inset 0 4px 4px #dbdbdb;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 

    &-recherche { 
        border: none;
        background: #eaeaea;
    }
    .fa-map-marker-alt { 
        margin-right: 15px ;
    }

    input {
        outline: none;
    }
}

.header__explorer { 
    background: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 290px;
    
    h3 { 
        font-size: 1.5em;
        text-align: center;
        margin: 30px 0 20px 0 ;
    }
    p {
        text-align: center;
        font-size: 1.2em;
        margin: 0 0 30px 0;
    }
}

.header__btn {
      
        margin-top: 10px;
        &:hover {
            transform: scale(1.1);
        }
    a { 
        color: white;
        text-decoration: none;
        background: linear-gradient(to bottom right,$color-sec, $color-prim);
        text-align: center;
        border-radius: 20px;
        box-shadow: 2px 2px 5px grey;
        padding: 15px 17px 15px 17px;
    }
}

.nav__btn { 
    position: relative;
    color: black;
    margin-bottom: 20px;
   
}

nav {
     h4 { 
         font-size: 1.6em;
         margin: 40px 0 30px 20px ;
     }
       
    ol { 
        list-style-type: none;
        padding-left: 30px;
        margin-bottom: 80px;

        
    } 
   

    li { 
        height: 60px;
        width: 90%;
        background: $color-background;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 3px 7px #e7e7e7;
        line-height: 60px;
        position: relative;
        margin-bottom: 20px;
        
        p { 
            position: absolute;
            top: 2px;
            left: -9px;
            border-radius: 50%;
            background: $color-prim;
            padding: 0px 10px 0px 10px;
            color: white;
            font-size: 0.8em;
            height: 30px;
            line-height: 30px;
        }

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: black;
            font-size: 1.15em;

            &:hover {
                background: $color-hover-nav;
                border-radius: 20px;
            }

            &:hover .fa-mobile-alt {
                color: $color-prim;
            }

            .fa-mobile-alt { 
                padding: 0 20px 0 30px;
                color: #7e7e7e;

                
            }
            .fa-list {
                @extend .fa-mobile-alt;
            }
            .fa-store {
                @extend .fa-mobile-alt
            }
        }
    }
}

.main__container {
    background: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;



    a { 
        text-decoration: none;
        color: black;
        display: block;
        position: relative;
    }

    &-restaurant { 
        width: 90%;
        background: white;
        border-radius: 20px;
        box-shadow: 0 0 2px grey;
        margin-bottom: 20px;

        img { 
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            
        }

        .btn-nouveau {
            position: absolute;
            top: 13px;
            right: 13px;
            background: #99e2d0;
            color: #209a7c;
            height: 30px;
            width: 80px;
            text-align: center;
            line-height: 30px;
            border-radius: 5px;
        }

        .bas { 
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .heart {
           margin-right: 15px;
            font-size: 1.5em;
            position: relative;
            cursor: pointer;
        }

        #full-heart {
            position: absolute;
            font-size: 1.1em;
            right: 14px;
            top: -21px;
            transition: all 100ms ease-in-out;
            opacity: 0;
            background: linear-gradient(to top right,$color-sec, $color-prim);
            


            &:hover { 
                opacity: 1;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }

        #empty-heart { 

            position: absolute;
            right: 15px;
            top: -20px;
            transition: opacity 100ms ease-in-out;
            

            &:hover { 
                opacity: 0;
            }
        }




        h3 {
            margin: 15px 0 0 15px;
        }
         p {
             margin: 5px 0 15px 15px;
         }
    }

}


footer {
    background:  #353535;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
    
    a { 
        color: white;
        text-decoration: none;
        padding: 0 0 10px 25px;

        &:hover { 
            font-weight: bold;
        }
    }

    .fa-handshake {
        transform: rotate(140deg);
        font-size: 0.8em;
        margin-right: 7px;
    }

    .fa-utensils { 
        padding-right: 10px;
        font-size: 0.8em;
    }
    
    svg {
        width: 110px;
        padding: 25px;
}
}
